.rules
  padding: 40px 0
  @media screen and (min-width: 1200px)
    padding: 100px 0

.rules__title
  text-align: center

.rules__list
  list-style: decimal
  padding: 20px
  &-item
    color: $secondaryTextColor
    margin-bottom: 20px